{% extends 'customerbase.html' %}
{% block content %}
<style>
    th,td{
        padding: 10px;
    }
    th{
        background-color: #e30577;
        color: white;
    }
    </style>
    <div style="margin: 50px;">
        <h1 style="margin: 10px;">Your PC</h1>
        <table border="1" style="margin-top: 50px;">
        <tr>
            <td>INVOICE NO  </td>
            <td>DISPLAY  </td>
            <td>PROCESSOR  </td>
            <td>HDD </td>
            <td>RAM </td>
            <td>TOTAL  </td>
            <td>STATUS  </td>
        </tr>
       
        {% for d in data %}
        <tr>
            <td>{{d.0}}</td>
            <td>{{d.1}}</td>
            <td>{{d.2}}</td>
            <td>{{d.3}}</td>
            <td>{{d.4}}</td>
            <td>{{d.5}}</td>
            <td>{{d.6}}</td>
        </tr>   
        {% endfor %}
        </table>
        
    </div>
    <div style="margin: 50px;">
        <h1 style="margin: 10px;">Your orders</h1>
        <table border="1" style="margin-top: 50px;">
            <tr>
                <td>INVOICE NO  </td>
                <td>PRODUCT  </td>
                <td>IMAGE  </td>
                <td>DATE of ORDER </td>
           
                <td>RATE  </td>
                <td>ORDER STATUS  </td>
            </tr>
           
            {% for d in order %}
            <tr>
                <td>{{d.0}}</td>
                <td>{{d.7}}</td>
                <td><img src="../static{{d.10}}" height="150px" width="150px"></td>
                <td>{{d.3}}</td>
                <td>{{d.11}}</td>
                <td>{{d.4}}</td>
                
            </tr>   
            {% endfor %}
        </table>
        
    </div>
    
{% endblock %}